
.icon-mail:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
